* {
    margin: 0;
}



/* // <uniquifier>: Use a unique and descriptive class name //
// <weight>: Use a value from 300 to 800 // */

body {



    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


/* Shared styles */

.text-primary {
    color: #FD6E0A;
}

.section-title{
    color: #181818;
    font-size: 35px;
    font-weight: 800;
    margin: 0 0 30px 0;
}

.section-des{
    color: #757575;
    font-size: 18px;
     margin-bottom: 30px;
}
/* Nav releted styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 0 0 0;
    margin: 0 226px;

}

/* .nav-bar{
    display: flex;
} */
nav>ul {
    display: flex;
    align-items: center;


}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav li {
    /* display: flex; */
    list-style: none;
    margin-right: 50px;



}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    /* height: 64px;
    width: 150px; */
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
    border: 0;

}

/* #btn-one{
    height: 60px;
    width: 140px;
} */



/* Header releted */

.header {

    background-color: #FFF8F3;
    background-image: url(../assets/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    /* height: 722px; */



}


/* Title releted */

.banner {
    padding: 30px 30px 0px 226px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-contant {
    max-width: 500px;
}

.profile-pic {
    width: 500px;
}

.banner-gretting {
    font-size: 45px;
    font-weight: 500;
    padding: 10px 0;
    color: #474747;
}

.banner-title {
    font-size: 85px;
    padding: 5px 0;
    color: #181818;
    font-weight: 700;
}

.banner-des {
    color: #757575;
    font-size: 18px;
    padding: 20px 0 30px 0;
}

#btn-Download {
    margin-right: 30px;
}

#btn-contact {
    background-color: #FFF8F3;
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
}

/* Main section styles */

/* about section */

.about{
    background-color: #FFF8F3;
    max-width: 760px;
    margin: 100px auto;
    text-align: center;
    padding: 150px;
    border-radius: 5px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}


/* Section What I do */

.What{
    text-align: center;

}

.skills{
    height: 350px;
    width: 250px;
    
    border: 2px solid  #474747;
    margin: 30px 10px;
    /* color: #FFFFFF; */
    /* box-shadow: #474747; */
    text-align: left;
    
}

#sec-des{
    padding: 0 350px;
}

.skill-container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 200px;
   
}
.skill-title{
    color: #181818;
    padding: 0 0 10px 30px;
}

.skill-des{
    color: #757575;
    padding-left: 30px;
    padding-top: 20px;
}

.skill-img{
    padding: 30px 0 20px 30px;
}